.dark-medium-contrast {
  --md-sys-color-primary: rgb(168 235 191);
  --md-sys-color-surface-tint: rgb(147 213 170);
  --md-sys-color-on-primary: rgb(0 44 24);
  --md-sys-color-primary-container: rgb(94 158 119);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(203 226 207);
  --md-sys-color-on-secondary: rgb(22 42 30);
  --md-sys-color-secondary-container: rgb(128 150 133);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(185 227 242);
  --md-sys-color-on-tertiary: rgb(0 42 52);
  --md-sys-color-tertiary-container: rgb(110 151 164);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(15 21 17);
  --md-sys-color-on-background: rgb(223 228 221);
  --md-sys-color-surface: rgb(15 21 17);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(65 73 66);
  --md-sys-color-on-surface-variant: rgb(214 223 213);
  --md-sys-color-outline: rgb(171 180 172);
  --md-sys-color-outline-variant: rgb(138 146 138);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(223 228 221);
  --md-sys-color-inverse-on-surface: rgb(38 43 39);
  --md-sys-color-inverse-primary: rgb(12 83 50);
  --md-sys-color-primary-fixed: rgb(174 242 197);
  --md-sys-color-on-primary-fixed: rgb(0 21 9);
  --md-sys-color-primary-fixed-dim: rgb(147 213 170);
  --md-sys-color-on-primary-fixed-variant: rgb(0 63 36);
  --md-sys-color-secondary-fixed: rgb(209 232 213);
  --md-sys-color-on-secondary-fixed: rgb(3 21 10);
  --md-sys-color-secondary-fixed-dim: rgb(181 204 186);
  --md-sys-color-on-secondary-fixed-variant: rgb(39 59 45);
  --md-sys-color-tertiary-fixed: rgb(191 233 248);
  --md-sys-color-on-tertiary-fixed: rgb(0 20 26);
  --md-sys-color-tertiary-fixed-dim: rgb(163 205 219);
  --md-sys-color-on-tertiary-fixed-variant: rgb(12 59 71);
  --md-sys-color-surface-dim: rgb(15 21 17);
  --md-sys-color-surface-bright: rgb(64 70 65);
  --md-sys-color-surface-container-lowest: rgb(4 8 6);
  --md-sys-color-surface-container-low: rgb(26 31 27);
  --md-sys-color-surface-container: rgb(36 41 37);
  --md-sys-color-surface-container-high: rgb(46 52 47);
  --md-sys-color-surface-container-highest: rgb(57 63 58);
}
